<mat-card>
  <h1>{{buzz.title}}</h1>
  <h6>Posted by: {{buzz.Buzzer.userName}} <span><br>{{buzz.createdAt | date:'fullDate'}}</span></h6>
  <mat-divider></mat-divider>
  <table>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th>Fun Factor</th>
      <th>Upvotes</th>
    </tr>
    <tr>
      <td>{{buzz.location}}</td>
      <td>{{buzz.price}}</td>
      <td>{{buzz.funFactor}}</td>
      <td>{{buzz.upVote}}</td>
    </tr>
  </table>
  <h4>Details:</h4>
  <p>{{buzz.details}}</p>
  <mat-card>
    <h4>Comments:
      <span>
        <button mat-raised-button color="accent" (click)="openDialog(buzz.title, buzz.details)">Comment</button>
      </span>
    </h4>
    <mat-list *ngIf="buzz">
      <mat-list-item *ngFor="let comment of buzz.Comments, let x = index">
        <h5 mat-line><b>{{comment.Commenter.userName}}</b></h5>
        <p mat-line>{{comment.text}}</p>
        <p matLine *ngIf="comment.edited===true"><small>Edited</small></p>
        <p mat-line><small>{{comment.updatedAt | date:'short'}}</small></p>
        <mat-action-row>
          <button mat-raised-button *ngIf="userId === comment.CommenterId" color="accent" (click)="updateComment(comment.id, buzz.details, comment.text, buzz.title, x)">Edit</button>
          <button mat-raised-button *ngIf="userId === comment.CommenterId" color="warn" (click)="deleteComment(comment.id, x)">Delete</button>
        </mat-action-row>
      </mat-list-item>
    </mat-list>
  </mat-card>
</mat-card>