div{
    background-image: url('../../../assetsmain/abandoned-building-empty-20943.jpg');
    background-position-y: 60%;
    background-position-x: 20%;
    overflow: hidden;
    color: white;
    width: 100%;
    min-height: 82vh;
    text-align: center;
}
h1 h3 h5{
    margin-top: auto;
    margin-bottom: auto
}